<h1>Welcome to the Yelp-Demo</h1>
<h2>This is a sample web application built using the Ruby on Rails programming language. You can also see a demo at <a href="http://www.baserails.com">BaseRails</a></h2>

