<h1>Welcome to the Yelp-Demo</h1>
<h2>This is a sample web application built using the Ruby on Rails programming language. You can also see a demo at <%= link_to "BaseRails", "http://www.baserails.com" %> Feel free to sign in and begin searching for a restaurant near you.</h2>

